html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #191847;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #4788e9;
  margin-bottom: 24px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a {
  color: #4788e9;
  text-decoration: none;
}
a:hover {
  color: #6ca0ed;
}

/**
 * @desc Styles for the button component.
 *
 * The `.btn` class is used to style buttons. It applies various mixins to set the width, flex properties, spacing, shape, padding, font properties, and cursor. It also includes responsive styles for mobile devices.
 *
 * The `.btn.-outlined` class is used to style outlined buttons. It sets the border to 1px solid and the background color to transparent. It applies color and border-color based on the color variable values. It also sets the background color to a lighter shade on hover.
 *
 * The `.btn.-contained` class is used to style contained buttons. It sets the border to none. It applies background color, box shadow, and text color based on the color variable values. It also sets the background color to a darker shade on hover.
 *
 * @example
 * // HTML
 * <button class="btn">Default Button</button>
 * <button class="btn -outlined -primary">Primary Outlined Button</button>
 * <button class="btn -contained -secondary">Secondary Contained Button</button>
  */
.btn {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  padding: 16px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
@media (max-width: 768px) {
  .btn {
    font-size: 12px;
    padding: 8px;
  }
}
.btn.-outlined {
  border: 1px solid;
  background-color: transparent;
}
.btn.-outlined.-cornflowerBlue {
  color: #4788e9;
  border-color: #4788e9;
}
.btn.-outlined.-cornflowerBlue:hover {
  background-color: #a2c3f4;
}
.btn.-outlined.-ghost {
  color: #c9c9da;
  border-color: #c9c9da;
}
.btn.-outlined.-ghost:hover {
  background-color: white;
}
.btn.-outlined.-cinnabar {
  color: #e74c3c;
  border-color: #e74c3c;
}
.btn.-outlined.-cinnabar:hover {
  background-color: #f29f97;
}
.btn.-outlined.-mercury {
  color: #e5e5e5;
  border-color: #e5e5e5;
}
.btn.-outlined.-mercury:hover {
  background-color: white;
}
.btn.-outlined.-light-200 {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}
.btn.-outlined.-light-200:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.btn.-outlined.-portGore {
  color: #191847;
  border-color: #191847;
}
.btn.-outlined.-portGore:hover {
  background-color: #343293;
}
.btn.-outlined.-dark-200 {
  color: rgba(25, 24, 71, 0.7);
  border-color: rgba(25, 24, 71, 0.7);
}
.btn.-outlined.-dark-200:hover {
  background-color: rgba(52, 50, 147, 0.7);
}
.btn.-outlined.-bigStone {
  color: #162938;
  border-color: #162938;
}
.btn.-outlined.-bigStone:hover {
  background-color: #335f81;
}
.btn.-outlined.-white {
  color: #ffffff;
  border-color: #ffffff;
}
.btn.-outlined.-white:hover {
  background-color: white;
}
.btn.-outlined.-black {
  color: #000000;
  border-color: #000000;
}
.btn.-outlined.-black:hover {
  background-color: #333333;
}
.btn.-outlined.-black-100 {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
}
.btn.-outlined.-black-100:hover {
  background-color: rgba(51, 51, 51, 0.5);
}
.btn.-outlined.-caribbeanGreen {
  color: #00d98b;
  border-color: #00d98b;
}
.btn.-outlined.-caribbeanGreen:hover {
  background-color: #40ffba;
}
.btn.-outlined.-titanWhite {
  color: #ebebff;
  border-color: #ebebff;
}
.btn.-outlined.-titanWhite:hover {
  background-color: white;
}
.btn.-outlined.-selago {
  color: #faf2fe;
  border-color: #faf2fe;
}
.btn.-outlined.-selago:hover {
  background-color: white;
}
.btn.-outlined.-malibu {
  color: #8598fc;
  border-color: #8598fc;
}
.btn.-outlined.-malibu:hover {
  background-color: #e9ecfe;
}
.btn.-outlined.-mirage {
  color: #1a2036;
  border-color: #1a2036;
}
.btn.-outlined.-mirage:hover {
  background-color: #3b497b;
}
.btn.-outlined.-pigeon-post {
  color: #b1b9d8;
  border-color: #b1b9d8;
}
.btn.-outlined.-pigeon-post:hover {
  background-color: #f5f6fa;
}
.btn.-outlined.-ebony-clay {
  color: #252b42;
  border-color: #252b42;
}
.btn.-outlined.-ebony-clay:hover {
  background-color: #4a5683;
}
.btn.-outlined.-ebony {
  color: #111628;
  border-color: #111628;
}
.btn.-outlined.-ebony:hover {
  background-color: #2f3d70;
}
.btn.-outlined.-pickled-bluewood {
  color: #2e3750;
  border-color: #2e3750;
}
.btn.-outlined.-pickled-bluewood:hover {
  background-color: #536491;
}
.btn.-outlined.-heliotrope {
  color: #8e66ff;
  border-color: #8e66ff;
}
.btn.-outlined.-heliotrope:hover {
  background-color: #d9ccff;
}
.btn.-contained {
  border: none;
}
.btn.-contained.-cornflowerBlue {
  background-color: #4788e9;
  box-shadow: 0 8px 0 0 #1655b4;
  color: #ffffff;
}
.btn.-contained.-cornflowerBlue:hover {
  background-color: #1b6be2;
}
.btn.-contained.-ghost {
  background-color: #c9c9da;
  box-shadow: 0 8px 0 0 #8c8cb1;
  color: #ffffff;
}
.btn.-contained.-ghost:hover {
  background-color: #ababc5;
}
.btn.-contained.-cinnabar {
  background-color: #e74c3c;
  box-shadow: 0 8px 0 0 #a82315;
  color: #ffffff;
}
.btn.-contained.-cinnabar:hover {
  background-color: #d62c1a;
}
.btn.-contained.-mercury {
  background-color: #e5e5e5;
  box-shadow: 0 8px 0 0 #b2b2b2;
  color: #191847;
}
.btn.-contained.-mercury:hover {
  background-color: #cccccc;
}
.btn.-contained.-light-200 {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 0 0 rgba(204, 204, 204, 0.5);
  color: #ffffff;
}
.btn.-contained.-light-200:hover {
  background-color: rgba(230, 230, 230, 0.5);
}
.btn.-contained.-portGore {
  background-color: #191847;
  box-shadow: 0 8px 0 0 black;
  color: #ffffff;
}
.btn.-contained.-portGore:hover {
  background-color: #0c0b21;
}
.btn.-contained.-dark-200 {
  background-color: rgba(25, 24, 71, 0.7);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.7);
  color: #ffffff;
}
.btn.-contained.-dark-200:hover {
  background-color: rgba(12, 11, 33, 0.7);
}
.btn.-contained.-bigStone {
  background-color: #162938;
  box-shadow: 0 8px 0 0 black;
  color: #ffffff;
}
.btn.-contained.-bigStone:hover {
  background-color: #080e13;
}
.btn.-contained.-white {
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #cccccc;
  color: #191847;
}
.btn.-contained.-white:hover {
  background-color: #e6e6e6;
}
.btn.-contained.-black {
  background-color: #000000;
  box-shadow: 0 8px 0 0 black;
  color: #ffffff;
}
.btn.-contained.-black:hover {
  background-color: black;
}
.btn.-contained.-black-100 {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.btn.-contained.-black-100:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.btn.-contained.-caribbeanGreen {
  background-color: #00d98b;
  box-shadow: 0 8px 0 0 #00734a;
  color: #ffffff;
}
.btn.-contained.-caribbeanGreen:hover {
  background-color: #00a66a;
}
.btn.-contained.-titanWhite {
  background-color: #ebebff;
  box-shadow: 0 8px 0 0 #8585ff;
  color: #ffffff;
}
.btn.-contained.-titanWhite:hover {
  background-color: #b8b8ff;
}
.btn.-contained.-selago {
  background-color: #faf2fe;
  box-shadow: 0 8px 0 0 #d693f7;
  color: #ffffff;
}
.btn.-contained.-selago:hover {
  background-color: #e8c3fa;
}
.btn.-contained.-malibu {
  background-color: #8598fc;
  box-shadow: 0 8px 0 0 #2144fa;
  color: #ffffff;
}
.btn.-contained.-malibu:hover {
  background-color: #536efb;
}
.btn.-contained.-mirage {
  background-color: #1a2036;
  box-shadow: 0 8px 0 0 black;
  color: #ffffff;
}
.btn.-contained.-mirage:hover {
  background-color: #090c14;
}
.btn.-contained.-pigeon-post {
  background-color: #b1b9d8;
  box-shadow: 0 8px 0 0 #6d7cb6;
  color: #ffffff;
}
.btn.-contained.-pigeon-post:hover {
  background-color: #8f9ac7;
}
.btn.-contained.-ebony-clay {
  background-color: #252b42;
  box-shadow: 0 8px 0 0 #000001;
  color: #ffffff;
}
.btn.-contained.-ebony-clay:hover {
  background-color: #131621;
}
.btn.-contained.-ebony {
  background-color: #111628;
  box-shadow: 0 8px 0 0 black;
  color: #ffffff;
}
.btn.-contained.-ebony:hover {
  background-color: #020204;
}
.btn.-contained.-pickled-bluewood {
  background-color: #2e3750;
  box-shadow: 0 8px 0 0 #090a0f;
  color: #ffffff;
}
.btn.-contained.-pickled-bluewood:hover {
  background-color: #1b2130;
}
.btn.-contained.-heliotrope {
  background-color: #8e66ff;
  box-shadow: 0 8px 0 0 #4300ff;
  color: #ffffff;
}
.btn.-contained.-heliotrope:hover {
  background-color: #6833ff;
}

/**
 * FILEPATH: src/assets/scss/components/_text.scss
 * 
 * This SCSS file defines styles for the `.text` class, which is used to style text elements.
 * It includes various modifiers for different text styles, sizes, weights, alignments, and decorations.
 * 
 * Modifiers:
 * - .-secondary: Sets the text color to the secondary color defined in the `$colors` map.
 * - .-danger: Sets the text color to the danger color defined in the `$colors` map.
 * - .-light: Sets the text color to the light color defined in the `$colors` map.
 * - .-dark: Sets the text color to the dark color defined in the `$colors` map.
 * - .-white: Sets the text color to the white color defined in the `$colors` map.
 * - .-link: Sets the font size to `xs`, color to `dark-400`, adds underline, and transitions on hover.
 * - .-xxs: Sets the font size to `xxs` and line height to `none`.
 * - .-xs: Sets the font size to `xs` and line height to `none`. On mobile, font size is `xxs`.
 * - .-sm: Sets the font size to `sm` and line height to `none`. On mobile, font size is `xs`.
 * - .-lg: Sets the font size to `lg` and line height to `none`. On mobile, font size is `md`.
 * - .-xl: Sets the font size to `xl` and line height to `none`. On mobile, font size is `lg`.
 * - .-xxl: Sets the font size to `xxl` and line height to `short`. On mobile, font size is `xl`.
 * - .-xxxl: Sets the font size to `xxxl` and line height to `none`. On mobile, font size is `xxl`.
 * - .-light-weight: Sets the font weight to `light`.
 * - .-medium-weight: Sets the font weight to `medium`.
 * - .-semibold: Sets the font weight to `semibold`.
 * - .-bold: Sets the font weight to `bold`.
 * - .-uppercase: Sets the text to uppercase.
 * - .-lowercase: Sets the text to lowercase.
 * - .-capitalize: Sets the text to capitalize.
 * - .-center: Sets the text alignment to center.
 * - .-right: Sets the text alignment to right.
 * - .-left: Sets the text alignment to left.
 * - .-justify: Sets the text alignment to justify.
 * - .-italic: Sets the font style to italic.
 * - .-line-through: Adds a line-through text decoration.
 * - .-underline: Adds an underline text decoration.
 * - .-no-wrap: Sets the white space to nowrap.
 * - .-break-word: Sets the word wrap to break-word.
 * - .-ellipsis: Sets the text overflow to ellipsis and hides overflow.
 * - .-truncate: Sets the text overflow to ellipsis and hides overflow.
 * - .-hide: Hides the text by setting display to none.
 */
.text {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}
.text.-cornflowerBlue {
  color: #4788e9;
}
.text.-ghost {
  color: #c9c9da;
}
.text.-cinnabar {
  color: #e74c3c;
}
.text.-mercury {
  color: #e5e5e5;
}
.text.-light-200 {
  color: rgba(255, 255, 255, 0.5);
}
.text.-portGore {
  color: #191847;
}
.text.-dark-200 {
  color: rgba(25, 24, 71, 0.7);
}
.text.-bigStone {
  color: #162938;
}
.text.-white {
  color: #ffffff;
}
.text.-black {
  color: #000000;
}
.text.-black-100 {
  color: rgba(0, 0, 0, 0.5);
}
.text.-caribbeanGreen {
  color: #00d98b;
}
.text.-titanWhite {
  color: #ebebff;
}
.text.-selago {
  color: #faf2fe;
}
.text.-malibu {
  color: #8598fc;
}
.text.-mirage {
  color: #1a2036;
}
.text.-pigeon-post {
  color: #b1b9d8;
}
.text.-ebony-clay {
  color: #252b42;
}
.text.-ebony {
  color: #111628;
}
.text.-pickled-bluewood {
  color: #2e3750;
}
.text.-heliotrope {
  color: #8e66ff;
}
.text.-link {
  font-size: 12px;
  color: #162938;
  text-decoration: underline;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .text.-link {
    font-size: 8px;
  }
}
.text.-link:hover {
  color: rgba(0, 0, 0, 0.5);
}
.text.-xxs {
  font-size: 8px;
  line-height: 1;
}
.text.-xs {
  font-size: 12px;
  line-height: 1;
}
@media (max-width: 768px) {
  .text.-xs {
    font-size: 8px;
  }
}
.text.-sm {
  font-size: 14px;
  line-height: 1;
}
@media (max-width: 768px) {
  .text.-sm {
    font-size: 12px;
  }
}
.text.-lg {
  font-size: 20px;
  line-height: 1;
}
@media (max-width: 768px) {
  .text.-lg {
    font-size: 16px;
  }
}
.text.-xl {
  font-size: 24px;
  line-height: 1;
}
@media (max-width: 768px) {
  .text.-xl {
    font-size: 20px;
  }
}
.text.-xxl {
  font-size: 32px;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .text.-xxl {
    font-size: 24px;
  }
}
.text.-xxxl {
  font-size: 48px;
  line-height: 1;
}
@media (max-width: 768px) {
  .text.-xxxl {
    font-size: 32px;
  }
}
.text.-light {
  font-weight: 300;
}
.text.-medium {
  font-weight: 500;
}
.text.-semibold {
  font-weight: 600;
}
.text.-bold {
  font-weight: 700;
}
.text.-uppercase {
  text-transform: uppercase;
}
.text.-lowercase {
  text-transform: lowercase;
}
.text.-capitalize {
  text-transform: capitalize;
}
.text.-center {
  text-align: center;
}
.text.-right {
  text-align: right;
}
.text.-left {
  text-align: left;
}
.text.-justify {
  text-align: justify;
}
.text.-italic {
  font-style: italic;
}
.text.-line-through {
  text-decoration: line-through;
}
.text.-underline {
  text-decoration: underline;
}
.text.-no-wrap {
  white-space: nowrap;
}
.text.-break-word {
  word-wrap: break-word;
}
.text.-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text.-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text.-hide {
  display: none;
}

.img {
  height: auto;
  max-width: 100%;
}
.img.-full {
  width: 100%;
}
.img.-icon {
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  .img.-icon {
    width: 16px;
    height: 16px;
  }
}
.img.-sm {
  width: 32px;
  height: 32px;
}
@media (max-width: 768px) {
  .img.-sm {
    width: 24px;
    height: 24px;
  }
}
.img.-md {
  width: 48px;
  height: 48px;
}
@media (max-width: 768px) {
  .img.-md {
    width: 32px;
    height: 32px;
  }
}
.img.-lg {
  width: 64px;
  height: 64px;
}
@media (max-width: 768px) {
  .img.-lg {
    width: 48px;
    height: 48px;
  }
}
.img.-xl {
  width: 96px;
  height: 96px;
}
@media (max-width: 768px) {
  .img.-xl {
    width: 64px;
    height: 64px;
  }
}
.img.-rounded {
  border-radius: 100%;
}
.img.-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.img.-contain {
  -o-object-fit: contain;
     object-fit: contain;
}
.img.-stretch {
  -o-object-fit: stretch;
     object-fit: stretch;
}
.img.-center {
  margin-left: auto;
  margin-right: auto;
}
.img.-left {
  margin-right: auto;
}
.img.-right {
  margin-left: auto;
}

/**
 * @file _label.scss
 * @desc This file contains the styles for the label component.
 */
/**
 * @class .label
 * @desc Represents a label component.
 *
 * @cssprop {display} display - Specifies the display behavior of the label.
 * @cssprop {padding} padding - Specifies the padding of the label.
 * @cssprop {color} color - Specifies the text color of the label.
 * @cssprop {font-size} font-size - Specifies the font size of the label.
 * @cssprop {font-weight} font-weight - Specifies the font weight of the label.
 * @cssprop {text-align} text-align - Specifies the text alignment of the label.
 * @cssprop {white-space} white-space - Specifies the white space handling of the label.
 * @cssprop {vertical-align} vertical-align - Specifies the vertical alignment of the label.
 * @cssprop {border-radius} border-radius - Specifies the border radius of the label.
 *
 * @modifier -primary - Applies primary background color to the label.
 * @modifier -dark - Applies dark background color to the label.
 * @modifier -danger - Applies danger background color to the label.
 * @modifier -light - Applies light background color to the label.
 */
.label {
  display: inline-block;
  padding: 4px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 9999px;
}
@media (max-width: 768px) {
  .label {
    font-size: 14px;
  }
}
.label.-primary {
  background: #4788e9;
}
.label.-dark {
  background: #000000;
}
.label.-danger {
  background: #e74c3c;
}
.label.-light {
  background: #e5e5e5;
}

.checkbox {
  width: 100%;
  font-size: 12px;
  color: #162938;
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .checkbox {
    font-size: 8px;
  }
}
.checkbox__label {
  color: #162938;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
@media (max-width: 768px) {
  .checkbox__label {
    font-size: 8px;
  }
}
.checkbox__input {
  accent-color: #162938;
}

.flex {
  display: flex;
}
.flex.-row {
  flex-direction: row;
}
.flex.-column {
  flex-direction: column;
}
.flex.-row-reverse {
  flex-direction: row-reverse;
}
.flex.-column-reverse {
  flex-direction: column-reverse;
}
.flex.-wrap {
  flex-wrap: wrap;
}
.flex.-nowrap {
  flex-wrap: nowrap;
}
.flex.-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex.-start {
  justify-content: flex-start;
}
.flex.-end {
  justify-content: flex-end;
}
.flex.-center {
  justify-content: center;
}
.flex.-between {
  justify-content: space-between;
}

.auth-textfield {
  position: relative;
  width: 100%;
  height: 48px;
  border-bottom: 2px solid #162938;
}
.auth-textfield__label {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  color: #162938;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .auth-textfield__label {
    font-size: 12px;
  }
}
.auth-textfield__input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #162938;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .auth-textfield__input {
    font-size: 12px;
  }
}
.auth-textfield__input:focus + .auth-textfield__label, .auth-textfield__input:valid + .auth-textfield__label {
  top: 0;
  font-size: 12px;
}
@media (max-width: 768px) {
  .auth-textfield__input:focus + .auth-textfield__label, .auth-textfield__input:valid + .auth-textfield__label {
    font-size: 8px;
  }
}
.auth-textfield__icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  transition: 0.3s;
}

.header {
  background-color: rgba(0, 0, 0, 0.6588235294);
  padding: 20px;
}
@media (max-width: 768px) {
  .header {
    padding: 12px;
  }
}
.header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: start;
  gap: 16px;
}
@media (max-width: 768px) {
  .header__nav {
    gap: 8px;
  }
}
.header__nav-item {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}
@media (max-width: 768px) {
  .header__nav-item {
    font-size: 12px;
  }
}
.header__nav-item:hover {
  color: #ffffff;
}
.header__nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 0.4s ease;
}
.header__nav-item:hover::after {
  width: 100%;
}
.header__nav .router-link-active {
  color: #00d98b;
}
.header__nav .router-link-active::after {
  background: #00d98b;
}

.auth {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/src/assets/img/backgrounds/login.jpg") no-repeat center center/cover;
}
.auth__wrapper {
  position: relative;
  width: 33.3333333333%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 0 0 32px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 32px;
}
@media (max-width: 768px) {
  .auth__wrapper {
    width: 66.6666666667%;
    padding: 32px;
    gap: 24px;
  }
}
.auth__form {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 48px;
}
@media (max-width: 768px) {
  .auth__form {
    gap: 24px;
  }
}

/**
 * FILEPATH: /src/assets/scss/pages/_product_card_info_ui_design.scss
 * 
 * This SCSS file contains styles for the product card UI design.
 * It includes styles for the container, card, details, badge, stock, and actions of the product card.
 * The styles are organized using mixins and breakpoints for responsive design.
 */
.product-card {
  height: 100vh;
  width: 100%;
  background: #e5e5e5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .product-card {
    height: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.product-card__swapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  background: #00d98b;
  gap: 64px;
  background: #ffffff;
  border-radius: 24px;
  padding: 64px;
  width: 50%;
}
@media (max-width: 768px) {
  .product-card__swapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    padding: 32px;
  }
}
.product-card__detail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 24px;
}
@media (max-width: 768px) {
  .product-card__detail {
    gap: 8px;
  }
}
.product-card__badge {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 16px;
}
@media (max-width: 768px) {
  .product-card__badge {
    gap: 8px;
  }
}
.product-card__stock {
  position: relative;
  padding-left: 16px;
}
@media (max-width: 768px) {
  .product-card__stock {
    margin-top: 24px;
  }
}
.product-card__stock:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00d98b;
}
.product-card__actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  gap: 16px;
  width: 100%;
}
@media (max-width: 768px) {
  .product-card__actions {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 8px;
  }
}

.account {
  min-height: 100vh;
  width: 100%;
  background: #ebebff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.account__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 32px;
  background: #ffffff;
  width: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 0 32px 1px rgba(0, 0, 0, 0.5);
  padding: 40px;
}
@media (max-width: 768px) {
  .account__wrapper {
    width: 66.6666666667%;
    padding: 32px;
  }
}
.account__header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.account__search {
  position: relative;
  border: 1px solid #c5c5f8;
  border-radius: 16px;
  padding: 16px;
}
.account__search-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #162938;
  font-weight: 500;
  padding-left: 28px;
}
.account__search-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.account__actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: relative;
}
.account__actions::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 27%;
  height: 4px;
  width: 4px;
  background-color: red;
  border-radius: 50%;
}
.account__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.account__item {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.account__item:hover {
  background: #faf2fe;
  transition: all 0.5s ease;
}
.account__item__present {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 16px;
  width: 25%;
}
.account__item__present-logo {
  width: 48px;
  height: 48px;
  padding: 16px;
  border-radius: 100%;
  background: #ffffff;
}
.account__item__present-desc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 4px;
}

.activite {
  background: #1a2036;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.activite__swapper {
  height: 662px;
  width: 975px;
  background: #252b42;
  border-radius: 25px;
  padding: 35px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
.activite__sidebar {
  width: 88px;
  height: 100%;
  padding: 15px;
  border-radius: 20px;
  background: #1a2036;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.activite__sidebar-item {
  padding: 13px;
  border-radius: 10px;
}
.activite__sidebar-item.-active {
  background: #252b42;
}
.activite__sidebar-item:hover {
  border-radius: 10px;
  background: #252b42;
  transition: all 0.3s;
}
.activite__content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: normal;
  gap: 35px;
  padding-top: 20px;
}
.activite__header {
  height: 52px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.activite__back-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.activite__back-btn-name {
  font-size: 26px;
  font-weight: bold;
  color: #b1b9d8;
}
.activite__tab {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 2px solid #1a2036;
  border-radius: 13px;
  overflow: hidden;
}
.activite__tab-btn {
  cursor: pointer;
  border: none;
  height: 52px;
  width: 52px;
  background-color: transparent;
}
.activite__tab-btn.-active {
  background: #1a2036;
}
.activite__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: normal;
  align-items: center;
  gap: 20px;
}
.activite__item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 208px;
  width: 173px;
  border-radius: 20px;
  box-shadow: 0 10px 25px -15px;
  color: #b1b9d8;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.activite__item.-create {
  background: #2e3750;
}
.activite__item-img {
  height: 72px;
  width: 72px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}
.activite__item-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
.activite__item-count {
  font-size: 14px;
  font-weight: medium;
  text-transform: capitalize;
}
.activite__item.-active::before {
  content: attr(data-count);
  position: absolute;
  top: 12px;
  right: 12px;
  height: 20px;
  width: 20px;
  font-size: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #8e66ff;
  color: #ffffff;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */