@mixin border($width, $style, $color) {
  border: $width $style $color;
}
@mixin border-t($width, $style, $color) {
  border-top: $width $style $color;
}

@mixin border-b($width, $style, $color) {
  border-bottom: $width $style $color;
}

@mixin border-l($width, $style, $color) {
  border-left: $width $style $color;
}

@mixin border-r($width, $style, $color) {
  border-right: $width $style $color;
}