@mixin color($index) {
  color: map-get($colors, $index);
}

@mixin bg($index) {
  background: map-get($colors, $index);
}

@mixin blur($index) {
  backdrop-filter: blur(map-get($sizes, $index));
}

@mixin border-color($index) {
  border-color: map-get($colors, $index);
}
