@mixin color($index) {
    color: map-get($colors-product-info-ui, $index);
}

@mixin bg($index) {
    background: map-get($colors-product-info-ui, $index);
}

@mixin border-color($index) {
    border-color: map-get($colors-product-info-ui, $index);
}