@mixin font-size($index) {
    font-size: map-get($font-sizes, $index);
}

@mixin font-family($index) {
    font-family: map-get($font-family, $index);
}

@mixin font-weight($index) {
    font-weight: map-get($font-weight, $index);
}

@mixin line-height($index) {
    line-height: map-get($line-heights, $index);
}

@mixin text-decoration($index) {
    text-decoration: map-get($text-decorations, $index);
}