.img {
  height: auto;
  max-width: 100%;

  &.-full {
    @include width("full");
  }

  &.-icon {
    @include width("6");
    @include height("6");

    @include breakpoint("mobile") {
      @include width("4");
      @include height("4");
    }
  }

  &.-logo {
    @include width("8");
    @include height("8");
  }

  &.-thumbnail {
    @include width("4");
    @include height("4");
  }

  &.-product {
    @include width("full");
    @include height("1-2");
  }

  &.-avatar {
    @include width("6");
    @include height("6");
    @include shape("full");
  }

  &.-illustration {
    @include width("full");
    @include height("auto");
  }

  &.-cover {
    object-fit: cover;
  }

  &.-contain {
    object-fit: contain;
  }

  &.-stretch {
    object-fit: stretch;
  }

  &.-center {
    margin-left: auto;
    margin-right: auto;
  }

  &.-left {
    margin-right: auto;
  }

  &.-right {
    margin-left: auto;
  }
}
