.product-card-container {
  @include height("screen");
  @include width("full");
  @include bg("light");
  @include flex(column, nowrap, center, center);

  @include breakpoint("mobile") {
    @include height("full");
    @include p("y", "6");
  }
}

.product-card {
  @include flex(row, nowrap, center, start);
  @include bg("success");
  @include gap("16");
  @include bg("white");
  @include shape("6");
  @include p("all", "16");
  @include width("1-2");

  @include breakpoint("mobile") {
    @include flex(column, nowrap, start, start);
    @include p("all", "8");
  }

  &__detail {
    @include flex(column, nowrap, center, start);
    @include gap("6");

    @include breakpoint("mobile") {
      @include gap("2");
    }
  }

  &__badge {
    @include flex(column, nowrap, center, start);
    @include gap("4");

    @include breakpoint("mobile") {
      @include gap("2");
    }
  }

  &__stock {
    position: relative;

    @include p("l", "4");

    @include breakpoint("mobile") {
      @include m("t", "6");
    }

    &:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 0;
      @include width("2");
      @include height("2");
      @include shape("1-2");
      @include bg("success");
    }
  }

  &__actions {
    @include flex(row, nowrap, center, start);
    @include gap("4");
    @include width("full");

    @include breakpoint("mobile") {
      @include flex(column, nowrap, start, start);
      @include gap("2");
    }
  }
}
