.account {
  @include min-height("screen");
  @include width("full");
  @include bg("titanWhite");
  @include flex(column, nowrap, center, center);

  &__wrapper {
    @include flex(column, nowrap, center, start);
    @include gap("8");
    @include bg("white");
    @include width("1-2");
    @include border(2px, solid, map-get($colors, "light-200"));
    @include shape("4");
    @include boxShadow(
      0,
      0,
      map-get($sizes, "8"),
      1px,
      map-get($colors, "black-100")
    );

    @include p("all", "10");

    @include breakpoint("mobile") {
      @include width("2-3");
      @include p("all", "8");
    }
  }

  // section-1
  &__header {
    @include width("full");
    @include flex(row, nowrap, space-between, center);
  }

  &__search {
    position: relative;
    border: 1px solid #c5c5f8;
    @include shape("4");
    @include p("all", "4");

    &-input {
      border: none;
      outline: none;
      background: transparent;
      @include font-size("md");
      @include color("bigStone");
      @include font-weight("medium");
      @include p("l", "7");
    }

    &-icon {
      position: absolute;
      left: map-get($sizes, "2");
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__actions {
    @include flex(row, nowrap, space-between, center);
    @include gap("4");
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 10%;
      left: 27%;
      height: 4px;
      width: 4px;
      background-color: red;
      border-radius: 50%;
    }
  }

  // section-2
  &__list {
    @include flex(column, nowrap, center, center);
    @include gap("3");
    @include width("full");
  }

  &__item {
    @include width("full");
    @include flex(row, nowrap, space-between, center);
    @include shape("4");
    @include p("x", "5");
    @include p("y", "4");

    &:hover {
      @include bg("selago");
      transition: all 0.5s ease;
    }

    &__present {
      @include width("full");
      @include flex(row, nowrap, start, center);
      @include gap("4");
      @include width("1-4");

      &-logo {
        @include width("12");
        @include height("12");
        @include p("all", "4");
        @include shape("full");
        @include bg("white");
      }

      &-desc {
        @include flex(column, nowrap, center, start);
        @include gap("1");
      }
    }
  }
}
