.login {
  @include flex(column, nowrap, center, center);
  @include min-height("screen");
  background: url("/src/assets/img/backgrounds/login.jpg") no-repeat center
    center/cover;

  &__wrapper {
    position: relative;
    @include width("1-3");
    background: transparent;
    @include border(2px, solid, map-get($colors, "light-200"));
    @include shape("4");
    @include blur("5");
    @include boxShadow(
      0,
      0,
      map-get($sizes, "8"),
      1px,
      map-get($colors, "black-100")
    );
    @include flex(column, nowrap, center, center);
    @include p("all", "10");

    @include breakpoint("mobile") {
      @include width("2-3");
      @include p("all", "8");
    }
  }

  &__form {
    @include width("full");
    @include p("x", "5");
    @include flex(column, nowrap, center, start);
    @include gap("8");

    @include breakpoint("mobile") {
      @include gap("6")
    }

    &-group {
      position: relative;
      @include width("full");
      @include height("12");
      @include border-b(2px, solid, map-get($colors, "dark-400"));

      &__label {
        position: absolute;
        top: 50%;
        left: map-get($sizes, "1");
        transform: translateY(-50%);
        @include color("dark-400");
        @include font-size("md");
        @include font-weight("medium");
        transition: 0.3s;

        @include breakpoint("mobile") {
          @include font-size("xs");
        }
      }

      &__input {
        @include width("full");
        @include height("full");
        background: transparent;
        border: none;
        outline: none;
        @include color("dark-400");
        @include font-size("md");
        @include font-weight("semibold");

        @include breakpoint("mobile") {
          @include font-size("xs");
        }

        &:focus + .login__form-group__label,
        &:valid + .login__form-group__label {
          top: 0;
          @include font-size("xs");
          
          @include breakpoint("mobile") {
            @include font-size("xxs");
          }

        }
      }

      &__icon {
        position: absolute;
        top: 50%;
        right: map-get($sizes, "2");
        transform: translateY(-50%);
        transition: 0.3s;
      }
    }

    &-actions {
      @include width("full");
      @include font-size("xs");
      @include color("dark-400");
      @include font-weight("medium");
      @include flex(row, nowrap, space-between, center);

      @include breakpoint("mobile") {
        @include font-size("xxs");
      }

      &__label {
        @include color("dark-400");
        @include font-size("xs");
        @include font-weight("medium");
        @include flex(row, nowrap, center, center);
        @include gap("1");

        @include breakpoint("mobile") {
          @include font-size("xxs");
        }
      }

      &__checkbox {
        accent-color: map-get($colors, "dark-400");
      }

    }
  }
}
