.header {
  background-color: #000000a8;
  padding: 20px;

  &__nav {
    @include flex(row, nowrap, start, start);
    @include gap("4");

    &-item {
      @include color("white");
      @include font-weight("semibold");

      &:hover {
        @include color("white");
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        @include bg("white");
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .router-link-active {
      @include color("success");

      &::after {
        @include bg("success");
      }
    }
  }
}

// display: inline-block;
// @include m("r", "5");
// @include p("x", "4");
// @include p("y", "2");
// color : map-get($colors, "dark");
// @include bg("white");
// @include shape("6");
// font-weight: map-get($font-weight, "medium");
// text-decoration: none;
// transition: color 0.3s, background-color 0.3s;
// @include boxShadow(0, 0, map-get($sizes, "2"), 0, rgba(0,0,0,0.1));

// &:hover {
//     color : map-get($colors, "primary");
//     @include bg("light");
// }

// .router-link-active {
//     @include color("primary");
// }
